@media only screen and (max-width: 600px) {
    nav {
        position: relative;
        width: 100% !important;
        top: 0 !important;
        padding: 1rem !important;
        gap: 2rem !important;
        
    }
    nav > .\!w-fit.df.comment-user-img{
        display: none;
    }
    nav > img {
        display: none;
    }
    .user-info-login {
        display: flex;
    }

    nav .links .comment-user-img img{
        border-radius: 50%;
        width: 2rem !important;
        height: 2rem !important;
    }

    .links .nav-icon{
        display: flex;
        align-items: center;
        font-size: 22px;
        justify-content: center;
    }

    nav .links {
        gap: 1rem !important;
        position: absolute;
        top: 0;
        transform: translateY(-100%);
        flex-direction: column;
        width: 101%;
        right: 0;
        align-items: flex-start;
        padding: 1rem 2rem;
        opacity: 0;
    }
    nav.nav-open {
        height: 50%;
        align-items: flex-start;
    }

    .menu {
        display: block;
    }
    .links.opened {
        transform: translateY(55%) !important;
        opacity: 1;
    }
    .App {
        background-color: rgb(208, 208, 208);
        width: 100% !important;
        overflow-x: hidden;
    }
    .links .active {
        background: transparent !important;
    }

    .cart {
        width: 100%;
    }

    .product-cart {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: white;
    }
    .sub-bill {
        width: 100% !important;
        margin: 0;
    }
    .details-cart-prod > .df.mt-2 {
        justify-content: center;
    }

    .holder {
        transform: translate(-50%, -50%);
    }
}