@media only screen and (max-width: 600px) {
    nav {
        position: relative;
        width: 100% !important;
        top: 0 !important;
        padding: 1rem !important;
        gap: 2rem !important;
        
    }
    nav > .\!w-fit.df.comment-user-img{
        display: none;
    }
    nav > img {
        display: none;
    }
    .user-info-login {
        display: flex;
    }

    nav .links .comment-user-img img{
        border-radius: 50%;
        width: 2rem !important;
        height: 2rem !important;
    }

    .links .nav-icon{
        display: flex;
        align-items: center;
        font-size: 22px;
        justify-content: center;
    }

    nav .links {
        gap: 1rem !important;
        position: absolute;
        top: 0;
        transform: translateY(-100%);
        flex-direction: column;
        width: 101%;
        right: 0;
        align-items: flex-start;
        padding: 1rem 2rem;
        opacity: 0;
    }
    nav.nav-open {
        height: 50%;
        align-items: flex-start;
    }

    .menu {
        display: block;
    }
    .links.opened {
        transform: translateY(55%) !important;
        opacity: 1;
    }
    .sdnone {
        display: none;
    }
    .df.jc-sb.sm-df-c.sm-w-full.mt-16 {
        margin: 1rem 0rem !important;
        gap: 1rem !important;
    }
    .options {
        flex-direction: column;
    }

    .top-sellings {
        height: auto;
    }
    .top-sellings .swiper-slide .product-img .prod:not(.swiper-slide-active .product-img .prod) {
        opacity: 0;
    }

    .top-sellings .swiper-slide-next, .top-sellings .swiper-slide-prev {
        width: 0% !important;
        margin: 0 !important;
    }

    .top-sellings .swiper-slide-active {
        width: 100% !important;
    }

    #footer .flex-col {
        text-align: center;
    }

    .df-c.\!gap-6.p-5.justify-around.pr.bg {
        padding: 1rem 0 !important;
    }
    .prods {
        width: 100%;
        padding: 2rem 0rem;
    }

    .space-y-2 li{
        text-align: center;
        justify-content: center;
        display: flex;
    }

    .top-sellings .swiper-button-prev {
        right: 2% !important;
    }
    .top-sellings .swiper-button-next {
        left: 2% !important;
    }

    .option {
        width: 100%;
        margin-top: 1rem;
    }

    .hiddeny {
        bottom: -1rem;
    }


    .sm-df-c.mt-16{
        margin: 0 !important;
    }
    .products .page {
        margin: 3rem 0 0 0 ;
    }
    .products .page__numbers, .page__btn, .page__dots {
        margin: 3px;
    }

    .fdj {
        justify-content: space-around;
    }

    .sm-fl-1 {
        flex: 1;
    }

    .fill-jar .df.justify-between.w-full {
        justify-content: center;
    } 

    .honey-fill-instr {
        width: 60% !important;
        gap: 3rem !important;
    }

    .prop-cont {
        width: 1rem !important;
        margin-right: 0;
    }

    .fill-jar .spl,.fill-jar .spl2 {
        height: 6rem;
        max-width: unset;
        right: unset;
        left: unset;
        animation: 6rem;
        width: 112%;
        right: -31px;
    }

    .sb-wrap {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: fit-content;
    }

    .products {
        padding: 4rem 1rem;
    }

    .sm-df-c {
        flex-direction: column !important;
    }

    .sm-w-full {
        width: 100%;
    }

    .sm-g-3 {
        gap: 3rem !important;
    }

    .App {
        width: 100% !important;
        overflow-x: hidden;
    }
    .links .active {
        background: transparent !important;
    }

    .cart {
        width: 100%;
    }
    .container-padding {
        padding: 1rem;
    }

    .sw-100 {
        width: 100% !important;
    }


    body {
        background-color: var(--bg) !important;
    }



    .intro-hero {
        width: 100%;
        flex-direction: column;
    }
    .intro-hero .primary-title.pr.underlin {
        margin: 0 auto;
    }
    .intro-parag {
        width: 100%;
        text-align: center;
    }


    .product-cart {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: white;
    }
    .sub-bill {
        width: 100% !important;
        margin: 0;
    }
    .details-cart-prod > .df.mt-2 {
        justify-content: center;
    }

    .holder {
        transform: translate(-50%, -50%);
    }
}