.wrapper {
    max-width: 75%;
    margin: auto;
  }

  .qaf-p {
    background: #fff8b7;
    height: 60vh;
  }

  .fa-chevron-down {
    transition: 0.5s;
  }
  
  .wrapper > p,
  .wrapper > h1 {
    margin: 1.5rem 0;
    text-align: center;
  }
  
  .wrapper > h1 {
  }
  
  .accordion {
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    transition: 0.5s;
  }
  
  .accordion i {
    font-size: 1.6rem;
  }
  
  .active,
  .accordion:hover {
    background-color: #f1f7f5;
  }
  .pannel {
    background-color: white;
    background-color: var(--pending-light);
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .pannel p {
    width: 90%;
    margin: 1rem auto;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    line-height: 1.4;
  }
  
  .faq {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 0;
  }
  .faq.active, .accordion.active {
    background-color: var(--pending-light);
    border: none;
  }

  .rotate {
    transform: rotate(90deg);
  }
  